service: order-service

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1

  vpc:
    securityGroupIds:
      - sg-0c53a9fdbac3c3f1d
    subnetIds:
      - subnet-0db66bddd09cf4ea4
      - subnet-0025ce174e80dbd39
      - subnet-0b3d786ce9758f63d
      - subnet-04db367d4eefcbc92
      - subnet-044f588274a69635f
      - subnet-09be2de009329d2a1

  environment:
    DATABASE_URL: postgresql://postgres:SttartPg2026@sttart-finance-db.c0jcsykm0pvl.us-east-1.rds.amazonaws.com:5432/sttart_core
    JWT_SECRET: uma-super-chave-secreta

functions:
  createAccount:
    handler: src/handlers/accounts/create.create
    events:
      - httpApi:
          path: /accounts
          method: post
    package:
      patterns:
        - node_modules/.prisma/client/**
        - node_modules/@prisma/client/**
        - node_modules/@prisma/client/index.js
        - prisma/schema.prisma
        - src/handlers/accounts/create.ts
        - src/lib/**
        - src/middleware/**

  getAccounts:
    handler: src/handlers/accounts/getAll.getAll
    events:
      - httpApi:
          path: /accounts
          method: get
    package:
      patterns:
        - node_modules/.prisma/client/**
        - node_modules/@prisma/client/**
        - node_modules/@prisma/client/index.js
        - prisma/schema.prisma
        - src/handlers/accounts/getAll.ts
        - src/lib/prisma.ts

  isActive:
    handler: src/handlers/accounts/isActive.isActive
    events:
      - httpApi:
          path: /accounts/{id}/status
          method: patch
    package:
      patterns:
        - node_modules/.prisma/client/**
        - node_modules/@prisma/client/**
        - node_modules/@prisma/client/index.js
        - prisma/schema.prisma
        - src/handlers/accounts/isActive.ts
        - src/lib/prisma.ts

package:
  individually: true
